---
import Logo from '../components/atoms/Logo.astro';
import ToggleMenu from '../components/atoms/ToggleMenu.astro';
import Menu from './atoms/Menu.astro';
---

<header
	class="sticky top-0 z-40 flex-none mx-auto w-full bg-white md:bg-white/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm border-b dark:border-b-0"
>
    <div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4">
        <div class="flex justify-between">
            <a class="flex items-center" href="/">
				<Logo />
			</a>
            <div class="flex items-center md:hidden">
				<ToggleMenu />
			</div>
        </div>
        <Menu />
    </div>
</header>