
<nav>
    <!-- logo -->
    <a class="link" href="/"><img src=""></a>

    <!-- menu bar -->
    <div class="menubar">
        <a class="menulinktext" href="/">home</a>
        <a class="menulinktext" href="/">about</a>
        <a class="menulinktext" href="/">contact</a>
        <a class="menulinktext" href="/">freebies</a>
        <!-- menu bar buttons -->
        <a class="menulinkbutton" href="/">shop</a>
        <a class="menulinkbutton" href="/">subscribe</a>
    </div>
</nav>