<nav
    class="items-center w-full md:w-auto hidden md:flex text-[#3f3f3f] h-screen md:h-auto"
    aria-label="Main navigation"
    id="menu"
>
    <ul
        class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center collapse w-full md:w-auto collapsed text-xl md:text-base"
    >
        <li>
            <a
                class="font-regular text-[#3f3f3f] px-3 py-3 flex items-center transition duration-150 ease-in-out"
                href="#">about
            </a>
        </li>
        <li>
            <a
                class="font-regular text-[#3f3f3f] px-3 py-3 flex items-center transition duration-150 ease-in-out"
                href="/">blog
            </a>
        </li>
        <li>
            <a
                class="font-regular text-[#3f3f3f] px-3 py-3 flex items-center transition duration-150 ease-in-out"
                href="/">contact</a
            >
        </li>
        <li>
            <a
                class="font-regular text-[#3f3f3f] px-3 py-3 flex items-center transition duration-150 ease-in-out"
                href="/">freebies</a
            >
        </li>
        <!--buttons -->
        <li>
            <a
                class="font-regular px-3 py-1 mt-2 flex items-center transition duration-150 ease-in-out rounded-full bg-[#efff98] hover:bg-[#ffece8] mr-1"
                href="/">shop</a
            >
        </li>
        <li>
            <a
                class="font-regular px-3 py-1 mt-2 flex items-center transition duration-150 ease-in-out rounded-full bg-[#ffece8] hover:bg-[#efff98]"
                href="/">subscribe</a
            >
        </li>
    </ul>
</nav>